.seat {
    border: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.cross {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='gray' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='gray' stroke-width='1'/></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
  background-color: #313539;
}

.avaliable {
    background-color: #303B40;
    cursor:pointer;
}

.selected {
    background-color: #384F6B;
}